.card-container {
    --primary-color: #A9A9A9;
    --card-width: 220px;
    --padding: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.card {
    width: var(--card-width);
    border: 1.5px solid var(--primary-color);
    padding: var(--padding);
    border-radius: 12px;
    overflow: hidden;
}

.card-heading {
    font-size: 1rem;
    margin: 0;
    padding: var(--padding);
    border-bottom: 1.5px solid var(--primary-color);
}

.card-content {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-info {
    margin: 0;
    padding: 5px 0;
}

@media only screen and (max-width: 300px) {
    .card {
        width: 100%;
    }
}