.dropdown {
    --primary-color: #f1f1f1;
    --secondary-color: #A9A9A9;
    --dropdown-color: #000;
    --input-width: 100%;
    --input-padding: 15px;
    --dropdown-width: 100%;
    --dropdown-max-height: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.input-field {
    font-size: 16px;
    width: var(--input-width);
    padding: var(--input-padding);
    box-sizing: border-box;
    background: no-repeat 95% center / 15px 15px;
    border: 0.5px solid;
}

.input-field:focus {
    border: 2px solid;
}

.dropdown-input {
    width: var(--input-width);
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: var(--dropdown-width);
    max-height: var(--dropdown-max-height);
    padding: 0;
    overflow-y: auto;
    margin: 0px;
    background-color: var(--primary-color);
    box-shadow: 0px 8px 16px 0px rgba(var(--dropdown-color), 0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
    color: var(--dropdown-color);
    padding: 0px 15px;
    text-decoration: none;
}

.dropdown li:hover {
    background-color: var(--secondary-color);
}