.modal {
    --primary-color: #ffffff;
    --secondary-color: #888;
    --modal-color: #395686;
    --modal-width: 80%;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 40px;
    --gap-small: 5px;
    --gap-medium: 15px;
    --gap-large: 20px;
}

.modal h3 {
    margin: 0;
    font-size: var(--font-size-medium);
}

.modal p {
    margin: 0;
    font-size: var(--font-size-small);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: var(--font-size-medium);
    color: var(--secondary-color);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    background-color: var(--modal-color);
    margin: auto;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    width: var(--modal-width);
    max-width: 700px;
    color: var(--primary-color);
    overflow: auto;
}

.modal-content .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-large);
    font-size: var(--font-size-large);
}

.temp-unit {
    vertical-align: super;
    font-size: var(--font-size-medium);
    color: var(--primary-color);
}

.temp-unit button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.right-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-medium);
}

.right-content .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.right-content .column:first-child {
    align-items: flex-end;
}

.forecast,
.forecast-card {
    display: flex;
    justify-content: center;
    gap: var(--gap-medium);
}

.forecast {
    flex-wrap: wrap;
}

.forecast-card {
    flex-direction: column;
    align-items: center;
    width: 25%;
    border: 1.5px solid var(--primary-color);
    border-radius: 12px;
    padding: 20px;
}


@media only screen and (max-width: 850px) {
    .modal-content {
        top: 15%;
        max-height: 70%;
    }
}

@media only screen and (max-width: 700px) {
    .forecast-card {
        width: 40%;
    }

    .modal-content .row-1 {
        flex-direction: column;
    }

    .left-content {
        justify-content: space-between;
        width: var(--modal-width);
    }
}

@media only screen and (max-width: 500px) {
    .forecast-card {
        width: 70%;
    }

    .modal-content .row-1 {
        gap: var(--gap-large);
    }

    .left-content {
        justify-content: center;
    }
}